<settings>
     <setting propertyKey="@Properties.Concert" title="Concert">
        <settingConfig type="list">
                <listEntry value="0">Prague 1</listEntry>
                <listEntry value="1">Prague 2</listEntry>
                <listEntry value="2">Dresden 1</listEntry>
                <listEntry value="3">Dresden 2</listEntry>
                <listEntry value="4">Dresden 3</listEntry>
                <listEntry value="5">Dresden 4</listEntry>
                <listEntry value="6">Belgrade</listEntry>
                <listEntry value="7">Athens</listEntry>
                <listEntry value="8">San Sebastian</listEntry>
                <listEntry value="9">Marseille</listEntry>
                <listEntry value="10">Barcelona</listEntry>
                <listEntry value="11">Lyon</listEntry>
                <listEntry value="12">Nijmegen 1</listEntry>
                <listEntry value="13">Nijmegen 2</listEntry>
                <listEntry value="14">Dublin</listEntry>
                <listEntry value="15">Ostend 1</listEntry>
                <listEntry value="16">Ostend 2</listEntry>
                <listEntry value="17">Copenhagen</listEntry>
                <listEntry value="18">Frankfurt 1</listEntry>
                <listEntry value="19">Frankfurt 2</listEntry>
                <listEntry value="20">Klagenfurt 1</listEntry>
                <listEntry value="21">Klagenfurt 2</listEntry>
                <listEntry value="22">Reggio Emilia</listEntry>
                <listEntry value="23">Gelsenkirchen 1</listEntry>
                <listEntry value="24">Gelsenkirchen 2</listEntry>
                <listEntry value="25">Gelsenkirchen 3</listEntry>
                <listEntry value="26">Gelsenkirchen 4</listEntry>
                <listEntry value="27">Gelsenkirchen 5</listEntry>
        </settingConfig>
    </setting>
</settings>